# Ігнорування середовища віртуального оточення
venv/
# Ігнорування файлів бази даних SQLite
*.db
# Ігнорування файлів кешу Python
__pycache__/
*.pyc
# Ігнорування конфіденційних файлів конфігурації
config.py
